/* fonts */
/* @font-face {
  font-family: "Catamaran Bold";
  font-display: swap;
  src: url("../fonts/catamaran_bold.woff2") format("woff2"),
    url("../fonts/catamaran_bold.woff") format("woff");
}
@font-face {
  font-family: "Catamaran Black";
  font-display: swap;
  src: url("../fonts/catamaran_black.woff2") format("woff2"),
    url("../fonts/catamaran_black.woff") format("woff");
}
@font-face {
  font-family: "Muli Regular";
  font-display: swap;
  src: url("../fonts/muli_regular.woff2") format("woff2"),
    url("../fonts/muli_regular.woff") format("woff");
}
@font-face {
  font-family: "Muli Light";
  src: url("../fonts/muli_light.woff2") format("woff2"),
    url("../fonts/muli_light.woff") format("woff");
}
@font-face {
  font-family: "Muli Bold";
  src: url("../fonts/muli_bold.woff2") format("woff2"),
    url("../fonts/muli_bold.woff") format("woff");
}
@font-face {
  font-family: "Muli SemiBold";
  src: url("../fonts/muli_semibold.woff2") format("woff2"),
    url("../fonts/muli_semibold.woff") format("woff");
} */
/* @font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    unicode-range: f095, f041, f0e0, f017;
} */
/* fonts end */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  line-height: 1.2;
  font-family: "Catamaran", sans-serif;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #565656;
  background-color: #f7f7f7;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  text-align: center;
}
.title-h2 {
  text-transform: uppercase;
  color: #333;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 60px;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container-layout {
  width: 1680px;
  margin: 0 auto;
}
.container {
  width: 1260px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
.white {
  color: #fff;
}
.btn {
  color: #fff;
  background-color: #ff690f;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.btn-anim1::after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}
.btn-anim1:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-anim2 {
  transition: all 0.2s linear 0s;
  display: inline-block;
}
.btn-anim2::before {
  content: "˃";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.btn-anim2:hover {
  text-indent: 30px;
}
.btn-anim2:hover::before {
  transform: scale(1, 1);
  text-indent: 0;
}

/* HEADER START */
.header {
  /* height: 95px; */
  position: sticky;
  top: -25px;
  left: 0;
  width: 100%;
  z-index: 4;
  background: rgba(34, 83, 159, 1);
}
.header__logo {
  margin-top: 30px;
}
.header__logo-pic {
  width: 164px;
}
.header__nav {
  width: 40%;
  margin-top: 50px;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__link {
  position: relative;
}
.header__link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(131, 155, 204);
  height: 1px;
  transition: all 0.5s;
}
.header__link:hover:after {
  width: 100%;
}
/* HEADER END */

/* MAIN START */

/* INTRO SECTION START */
.intro {
  position: relative;
  /* background: radial-gradient(at center center, white, blue); */
  background-color: #235498;
  height: 1075px;
  margin-top: -102px;
  max-width: 1920px;
  margin: 0 auto 90px auto;
}
.intro::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(50em 30em, rgba(166, 220, 236, 0.5), rgba(35, 84, 152, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.intro__pic {
  position: absolute;
  top: 340px;
}
.intro__title {
  font-family: "Catamaran", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #04e5f5;
  text-transform: uppercase;
  padding-top: 165px;
  text-align: center;
  margin-bottom: 25px;
}
.intro__slogan {
  font-family: "Catamaran", sans-serif;
  font-size: 250px;
  font-weight: 900;
  line-height: 1;
  color: #04e5f5;
  text-transform: uppercase;
  text-align: center;
}
.intro__desc {
  position: absolute;
  top: 560px;
  left: 328px;
  width: 35%;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  color: #fff;
}
.intro__btn {
  position: absolute;
  top: 675px;
  left: 328px;
  font-size: 18px;
  padding: 18px 44px;
}
/* INTRO SECTION END */
/* OFFER SECTION START */
.offer {
  margin-bottom: 155px;
}
.offer__desc {
  line-height: 1.8;
  width: 74%;
  text-align: center;
  margin: 50px auto 70px auto;
}
.offer__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-pic {
  margin-bottom: 40px;
  min-height: 212px;
}
.card-body {
  text-align: center;
}
.card-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card-desc {
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0 auto 30px auto;
  width: 65%;
}
.card-btn {
  font-size: 15px;
  width: 150px;
  padding: 14px 20px;
  margin: 0 auto;
}

/* OFFER SECTION END */
/* GALLERY SECTION START */
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin-bottom: 160px;
}
.gallery__pic-wrap {
  overflow: hidden;
}
.gallery__pic {
  width: 100%;
  object-fit: cover;
  transition: 0.15s all;
}

.gallery__link:hover .gallery__pic {
  transform: scale(1.05);
}
/* GALLERY SECTION END */
/* CREW SECTION START */
.crew {
  margin-bottom: 160px;
}
.crew h2 {
  margin-bottom: 60px;
}
.card-crew {
  position: relative;
  overflow: hidden;
}
.card-crew__pic {
  border-radius: 50%;
  margin-bottom: 25px;
}
.card-crew::before {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.card-crew:hover::before {
  -webkit-animation: circle 0.5s;
  animation: circle 0.5s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.card-crew__body {
  text-align: center;
  color: #565656;
}
.card-crew__text {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 18px;
}
.card-crew__desc {
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
/* CREW SECTION END */
/* JUMBOTRONE  SECTION STAR */
.jumbotrone {
  background: url(../img/jumbotron.jpg) no-repeat;
  height: 1080px;
}
.jumbotrone h2 {
  padding-top: 230px;
  margin-bottom: 54px;
  width: 55%;
  text-align: left;
}
.jumbotrone__text {
  width: 64%;
  line-height: 32px;
  margin-bottom: 75px;
}
.jumbotrone__counts {
  font-weight: 600;
}
.jumbotrone__counts p {
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: #ff690f;
}
.jumbotrone__item {
  margin-right: 100px;
}
.jumbotrone__item:last-of-type {
  margin-right: 0;
}

/* JUMBOTRONE  SECTION END */
/* TESTIMONIALS SECTION START */
.testimonials {
  text-align: center;
}
.testimonials__title {
  margin-top: 160px;
  margin-bottom: 55px;
}
.testimonials__slider {
  position: relative;
  min-height: 550px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.testimonials__slider-nav {
  width: 30px;
  height: 30px;
  margin: 12rem 20px;
  border-radius: 50%;
  z-index: 10;
  outline-offset: -10px;
  box-shadow: 0 0 0 0 red, 0 0 0 0 blue;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: grey;
}
.testimonials__slider-nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
  background-color: orange;
}
.testimonials__slider-nav:checked:nth-of-type(1) ~ .testimonials__slider-inner {
  left: 0%;
}
.testimonials__slider-nav:checked:nth-of-type(2) ~ .testimonials__slider-inner {
  left: -97%;
}
.testimonials__slider-nav:checked:nth-of-type(3) ~ .testimonials__slider-inner {
  left: -195%;
}
.testimonials__slider-nav:checked:nth-of-type(4) ~ .testimonials__slider-inner {
  left: -291%;
}
@-webkit-keyframes check {
  50% {
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    box-shadow: 0 0 0 12px #333, 0 0 0 36px orange;
  }
  100% {
    box-shadow: 0 0 0 0 #333, 0 0 0 0 orange;
  }
}
.testimonials__slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 650%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.testimonials__card {
  text-align: center;
  flex-basis: 15%;
}
.testimonials__card-ava {
  border-radius: 50%;
  margin-bottom: 20px;
  max-width: 130px;
}
.testimonials__card-text {
  position: relative;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 48px;
  quotes: "“" "„";
}
.testimonials__card-text::before,
.testimonials__card-text::after {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px rgb(197, 197, 197);
  font-size: 100px;
}
.testimonials__card-text::before {
  /* content: url(../img/testi-quot.png);    */
  content: "\201c";
  font-size: 100px;
  top: -50px;
  left: 500px;
  margin-right: 20px;
}
.testimonials__card-text::after {
  content: "\201d";
  line-height: 0.1;
  bottom: 66px;
  right: 500px;
}
.testimonials__desc {
  line-height: 32px;
  width: 70%;
  text-transform: none;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto 50px auto;
  text-align: center;
}

/* .testimonials__circles {
  justify-content: center;
  margin: 0 auto 160px auto;
}
.testimonials__circle {
  background-color: #565656;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px;
}
.testimonials-active {
  background-color: #ff690f;
} */
/* TESTIMONIALS SECTION END */
/* CONTACTS SECTION START */
#footer {
  height: 100vh;
  margin: 0 auto;
}
.contacts {
  background-color: #2f2f2f;
  flex-basis: 30%;
}
.white {
}
.contacts__list {
}
.contacts__item {
  font-size: 18px;
  color: #ff690f;
}
.contacts__item span {
  font-size: 18px;
  color: #565656;
}
.footer__social {
  color: #ff690f;
}
/* CONTACTS SECTION END */
/* MAIN END */

/* FOOTER START */

/* FOOTER END */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
