/* fonts */
/* @font-face {
  font-family: "Catamaran Bold";
  font-display: swap;
  src: url("../fonts/catamaran_bold.woff2") format("woff2"),
    url("../fonts/catamaran_bold.woff") format("woff");
}
@font-face {
  font-family: "Catamaran Black";
  font-display: swap;
  src: url("../fonts/catamaran_black.woff2") format("woff2"),
    url("../fonts/catamaran_black.woff") format("woff");
}
@font-face {
  font-family: "Muli Regular";
  font-display: swap;
  src: url("../fonts/muli_regular.woff2") format("woff2"),
    url("../fonts/muli_regular.woff") format("woff");
}
@font-face {
  font-family: "Muli Light";
  src: url("../fonts/muli_light.woff2") format("woff2"),
    url("../fonts/muli_light.woff") format("woff");
}
@font-face {
  font-family: "Muli Bold";
  src: url("../fonts/muli_bold.woff2") format("woff2"),
    url("../fonts/muli_bold.woff") format("woff");
}
@font-face {
  font-family: "Muli SemiBold";
  src: url("../fonts/muli_semibold.woff2") format("woff2"),
    url("../fonts/muli_semibold.woff") format("woff");
} */
/* fonts end */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  line-height: 1.2;
  font-family: "Catamaran", sans-serif;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
  color: #565656;
  background-color: #f7f7f7;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container-layout {
  width: 1680px;
  margin: 0 auto;
  border: 1px solid black;
}
.container {
  width: 1260px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
/* HEADER START */
.header {
  /* height: 95px; */
  position: sticky;
  top: -25px;
  left: 0;
  width: 100%;
  z-index: 4;
  background: rgba(0, 100, 255, 0.5);
}
.header__logo {
  margin-top: 30px;
}
.header__logo-pic {
  width: 164px;
}
.header__nav {
  width: 40%;
  margin-top: 50px;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
}

/* HEADER END */

/* MAIN START */

/* INTRO SECTION START */
.intro {
  position: relative;
  background: radial-gradient(at center center, white, blue);
  height: 1075px;
  margin-top: -102px;
  max-width: 1920px;
  margin: 0 auto 50px auto;
}
.intro__pic {
  position: absolute;
  top: 340px;
}
.intro__title {
  font-family: "Catamaran", sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #fefefe;
  text-transform: uppercase;
  padding-top: 165px;
  text-align: center;
}
.intro__slogan {
  font-family: "Catamaran", sans-serif;
  font-size: 250px;
  font-weight: 900;
  line-height: 1;
  color: #fefefe;
  text-transform: uppercase;
  text-align: center;
}
.intro__desc {
  position: absolute;
  top: 560px;
  left: 328px;
  width: 33%;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  color: #fff;
}
.intro__link {
  position: absolute;
  top: 675px;
  left: 328px;
  background-color: #ff690f;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 44px;
  border-radius: 8px;
}
/* INTRO SECTION END */
/* OFFER SECTION START */
.offer {
}
.offer__title {
  text-transform: uppercase;
  color: #333;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  font-size: 60px;
  font-stretch: wider;
}
.offer__desc {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
}
.row {
}

/* OFFER SECTION END */
/* GALLERY SECTION START */

/* GALLERY SECTION END */
/* CREW SECTION START */

/* CREW SECTION END */
/* JUMBOTRONE  SECTION STAR */

/* JUMBOTRONE  SECTION END */
/* TESTIMONIALS SECTION START */

/* TESTIMONIALS SECTION END */
/* CONTACTS SECTION START */

/* CONTACTS SECTION END */
/* MAIN END */

/* FOOTER START */

/* FOOTER END */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */
/* @media */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
